<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/Edit.css">
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
     <title>Edit User</title>

    
</head>

<body>

<div class="card">

    <!-- Avatar -->
    <img src="<%= user.avatar %>" alt="avatar">

    <h2>Edit <%= user.username %></h2>

    <form method="POST" action="/user/<%= user.id %>?_method=PATCH">

        <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" value="<%= user.username %>" required>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" value="<%= user.email %>" required>
        </div>

        <div class="form-group">
            <label>Password (required to update)</label>
            <input type="password" name="password" placeholder="Enter password" required>
        </div>

        <button type="submit">Update User</button>

    </form>

</div>

</body>
</html>