<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/ShowUser.css">
        <title>Users</title>


</head>

<body>

    <!-- Header -->
    <div class="header">
        <h1>User Dashboard</h1>

        <form method="GET" action="/user/add" class="addbtn">
            <button type="submit">+ Add User</button>
        </form>
    </div>

    <!-- Cards -->
    <div class="container">
        <% for (let user of result) { %>
            <div class="card">

                <img src="<%= user.avatar %>" alt="avatar">

                <div class="info">
                    <p><strong>ID:</strong> <%= user.id %></p>
                    <p><strong>Email:</strong> <%= user.email %></p>
                    <p><strong>Username:</strong> <%= user.username %></p>

                    <form method="GET" action="/user/<%= user.id %>/edit">
                        <button type="submit">Edit</button>
                       
                       

                    </form>
                     <form method="GET" action="/user/<%= user.id %>/delete">
                        <button type="submit">DELETE</button>
                       

                    </form>

                      
                </div>

            </div>
        <% } %>
    </div>

</body>
</html>